//colors
$color-primary:#277552;
$color-primary-dark-1:#0F5837;
$color-primary-dark-2: #003B20;
$color-primary-light-1: #499371;
$color-primary-light-2: #75B095;
$color-secondary: #aa5739;
$color-secondary-dark-1:#803215;
$color-secondary-dark-2: #551700;
$color-secondary-light-1: #d4876a;
$color-secondary-light-2: #ffc1aa;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-black: #000;
$color-white: #fff;